* {
    font-family: Arial, sans-serif;
}

body {
    background-color: whitesmoke;
}

h1 {
    margin: 10px 20px;
}

.list {
    background-color: lightgray;
    padding: 10px;
    margin-top: 10px;
}

.item {
    background-color: #bbbbbb;
    padding: 10px;
    margin: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    background-color: #e5e5e5;
    padding: 10px;

}
.form input, select {
    margin: 10px 0;
    border: 1px solid #bbbbbb;
    border-radius: 5px;
    padding: 5px 10px;
}

.form button {
    cursor: pointer;
    margin: 5px 15px;
    padding: 10px 5px;
    border-radius: 5px;
    border: 1px solid #bbbbbb;
}